body {
    background-color: #050505;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f172a;
    padding: 25px;
    text-align: center;
    border-bottom: 2px solid #00ff66;
}

h1 {
    color: #00ff66;
    margin: 0;
}

header p {
    color: #9ca3af;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    background-color: #111827;
    border: 1px solid #1f2937;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

h2,
h3 {
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background-color: #0f172a;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #1f2937;
}

.card h4 {
    color: #9ca3af;
    margin-bottom: 10px;
}

.card p {
    color: #00ff66;
    font-size: 32px;
    font-weight: bold;
}

.alert-card p {
    color: #ff4d4d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #0f172a;
    color: #00ff66;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-top: 1px solid #1f2937;
}

tr:hover {
    background-color: #16213e;
}

.alert {
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
}

.warning {
    background-color: #4d3a00;
    color: #ffd54f;
    border-left: 5px solid #ffc107;
}

.danger {
    background-color: #4a1111;
    color: #ff6b6b;
    border-left: 5px solid #ff4d4d;
}

.success {
    background-color: #0b3d1d;
    color: #66ff99;
    border-left: 5px solid #00ff66;
}